

.container-about1{
    display:flex;
    min-width:350px;
    background-color:#2F2E34;
    width:65%;
    padding:20px; 
    gap:20px;
    flex-wrap:wrap; 
    margin:0 auto;
    border-radius:16px;
}
.img-cv{
    height:370px;
    margin:0 auto; 
}
.container-text1{
    width:650px;
    min-width: 350px;
    justify-content:center;
    text-align:center;
    padding:10px; 
}

.text1{
     text-align:justify;
    font-size:1rem; 
    color:white; 
}

.btn-cv{
    color:white; 
    background:#ababab;
    border: 1px solid rgba(1,208,212,1); 
    width:230px; 
    height:35px; 
}

.BTN {
    margin-top:-160px;
    --color: rgba(1,208,212,1);
    --color2: rgb(10, 25, 30);
   
    background-color: #ababab;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
   
    color: var(--color);
    
   }
   
   .BTN::after, .BTN::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
    color: var(--color2);
   }
   
   .BTN::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .BTN:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .BTN:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .BTN:hover {
    color:black;
   }
   
   .BTN:active {
    filter: brightness(.7);
    transform: scale(.98);
   }